// Theme's Styles
@import("D:/PROJECT/PERSONAL/learnVuePress/learnVuePress/documentation/docs/node_modules/@vuepress/theme-default/styles/index.styl")

// User's Styles
@import("D:/PROJECT/PERSONAL/learnVuePress/learnVuePress/documentation/docs/src/.vuepress/styles/index.styl")